@import 'src/assets/screens.scss';

.wysh-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**
* Logo styles
*/

.title-outter {
  display: flex;

  width: 70%;
  margin-top: 3rem;

  border-radius: 20px;
  background: #e5e5e5;
  box-shadow: 20px 20px 60px #c3c3c3, -20px -20px 60px #ffffff;

  @include for-phone-only {
    width: 90%;
    margin-top: 1rem;
    border-radius: 10px;
  }
}

.title {
  display: flex;

  width: 100%;
  margin: 0.25rem;

  border-radius: 20px;
  background: #e5e5e5;

  box-shadow: inset 10px 10px 10px #c3c3c3,
    inset -10px -10px 10px #ffffff;

  @include for-phone-only {
    width: 100%;
    border-radius: 10px;
  }
}

.title-first {
  text-align: left;
  font-family: 'Lakki Reddy', cursive;
  font-size: 40px;
  letter-spacing: 0px;
  color: #041d03;

  margin-left: 2rem;
  margin-top: 1rem; // for centering text inside header
}

.title-last {
  text-align: left;
  font-family: 'Lakki Reddy', cursive;
  font-size: 40px;
  letter-spacing: 0px;
  color: #e80543;

  margin-top: 1rem;
}

/**
* Greeting styles
*/

.greet-container {
  display: flex;
  margin: 7.5rem 2rem 0rem 2rem;

  @include for-phone-only {
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem 0rem 1rem;
  }
}

.greet-container .wysh {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 800px;
  margin-right: 2rem;

  font-family: 'Butterfly Kids', cursive;
  font-size: 64px;
  letter-spacing: 0px;
  color: #002cfe;

  text-align: center;

  @include for-phone-only {
    max-width: 100%;
    margin: 1rem 0rem;
    font-size: 32px;
  }
}

.greet-container .image-holder {
  display: flex;
  justify-content: center;
  align-items: center;

  flex: 1 0 16rem;

  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  background: #e5e5e5;
  box-shadow: 10px 10px 20px #c3c3c3, -10px -10px 20px #ffffff;

  @include for-phone-only {
    flex: 1 0 8rem;
    height: 8rem;
    width: 8rem;
  }
}

.dp-styles {
  height: 15rem;
  width: 15rem;
  border-radius: 50%;

  @include for-phone-only {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
  }
}

/**
* End note styles
*/

.end-note-container {
  display: flex;
  justify-content: space-between;

  margin: 2rem 2rem 0rem 2rem;
  @include for-phone-only {
    flex-direction: column;
    align-items: center;
    margin-top: 1rem 1rem 0rem 1rem;
  }
}

.end-note-container .h-bday {
  font-family: 'Monoton', cursive;
  font-size: 80px;
  letter-spacing: 0px;
  color: #041d03;
  text-align: center;

  @include for-phone-only {
    font-size: 40px;
  }
}

.end-note-container .from {
  display: flex;
  flex-direction: column;

  margin-left: 2rem;

  font-family: 'Over the Rainbow', cursive;
  font-size: 32px;
  letter-spacing: 0px;
  color: #e80543;

  @include for-phone-only {
    align-items: center;
    margin: 0rem;
    font-size: 20px;
  }
}

.no-bday-container {
  height: 50vh;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.no-bday {
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem;
  padding: 0rem 2rem;

  font-family: 'Butterfly Kids', cursive;
  font-size: 1.9rem;
  font-weight: 600;
  text-align: center;

  border-radius: 50px;
  background: #f2f2f2;
  box-shadow: inset 20px 20px 60px #cecece,
    inset -20px -20px 60px #ffffff;
}

.spinner-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
