.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(
    45deg,
    transparent,
    transparent 40%,
    #e80543
  );
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background: #e5e5e5;
  border-radius: 50%;
  z-index: 1000;
}

.loader:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: linear-gradient(
    45deg,
    transparent,
    transparent 40%,
    #e80543
  );
  border-radius: 50%;
  z-index: 1;
  filter: blur(30px);
}

.msg {
  font-family: 'Butterfly Kids', cursive;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -110px;
  z-index: 1;
}
